.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
    background-color: #f6c3c3;
    opacity: 0.9;
    text-align: center;
}

.activeRow {
    background-color: #05A0F9;
}

#modal-dialog td {
	border: solid 1px silver;
}

td {
	cursor:pointer !important;
}

.module-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.module-container .operate_container,
.module-container .chart_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.module-container .operate_container {
    z-index: 200;
}

.module-container .chart_container {
    z-index: 100;
}